.main(ng-controller="MainCtrl")
  div(ng-include="'app/main/introduction/introduction.html'")
  div(ng-include="'app/main/activity/activity.html'")
  div(ng-include="'app/main/projects/projects.html'")
