section#projects.main__section.main__projects(screen-height="400", ng-if="projects")
  .main__section__panel(aria-section="Projects")
    h2 Here’s what I’ve <strong>done</strong>
    p.
      According to my <a href="http://coderstats.net/github/pirhoo/" target="_blank">Github Stats</a>
      I mostly code in Javascript and Python. Both are my favorite languages.
      Almost all my projects are Open Source and available on <a href="https://github.com/Pirhoo?tab=activity" target="_blank">Github</a>.

  .main__projects__cascading(projects)
    .main__projects__cascading__item(ng-repeat="project in projects")
      a(ng-href="{{ project.url }}")
        .main__projects__cascading__item__overlay(ng-style="{ background: project.color }")
        img.main__projects__cascading__item__thumbnail(ng-src="{{ project.thumbnail }}")
        .main__projects__cascading__item__title {{ project.title }}
