section.main__section.main__projects(screen-height="400")
  .container-fluid 
    .row
      .col-sm-6
        .main__section__panel.main__section__panel--reverse(aria-section="Projects")
          h2 I <strong>love</strong> my job
          p I've done a lot of different things so far. Here is a pick of the projects I'm the most proud of.
