.main__projects {

  margin:0;
  display: block;
  overflow: visible;

  .main__section__panel {
    background: #efefef;
  }

  &__cascading {

    display: block;
    max-width: @thumb-max-width * @thumb-by-row * 1px;
    margin:auto;

    &__item {
      max-width:@thumb-max-width;
      width:(100/@thumb-by-row) * 1%;
      padding:@thumb-gutter;

      &__wrapper {
        display: block;
        position: relative;
        overflow: hidden;
        .box-shadow(0 2px 2px fade(black, 10) );

        img {
          display: block;
          width: 100%;
          filter:grayscale(80%) contrast(105%);
          .transition(0.6s);
        }

        &__overlay {
          background:inherit;
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          opacity:0.8;
          z-index:100;
          .transition(0.4s);
        }

        &__title {
          position:absolute;
          padding:10px;
          left:0;
          right:0;
          top:0;
          color:inherit;
          z-index: 110;
          font-size:12px;
          font-weight: bold;
          background:fade(white, 80);
          .transition(0.6s);
        }


        &:hover &__overlay {
          opacity:0;
        }

        &:hover img {
          filter:grayscale(0%) contrast(100%);
        }

        &:hover &__title {
          .translate(0, -100%)
        }

        &:after {
          // Disabled
          // content:"";
          border:5px fade(white, 20) solid;
          position: absolute;
          left:0;
          right:0;
          top:0;
          bottom:0;
        }
      }
    }
  }

}
