@header-height: 60px;

@introduction-bg:#27272A;
@introduction-color:#CBCBBE;
@introduction-emphasize:white;

@activity-bg:#CBCBBE;
@activity-color:#27272A;
@activity-emphasize:darken(#27272A, 10%);

@projects-bg:#E3E1DC;
@projects-color:ligthen(#27272A, 10%);
@projects-emphasize:#27272A;

@thumb-max-width: 150px;
@thumb-by-row: 5;
@thumb-gutter: 10px;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body a {
  text-decoration:underline;
  color:inherit;
}

.container-base {
  max-width: @thumb-max-width * @thumb-by-row * 1px;
  margin:auto;

  @media (max-width: @screen-sm-min) {
    margin:0 20px;
  }
}

.lead {
  font-family: @font-family-serif;
  font-weight: 200;
}

.sectionize(@bg, @color, @emphasize) {

  background-color:@bg;
  color:@color;

  &:before {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:300px;
    content:"";
    #gradient > .vertical(fade(@bg, 0), @bg);
  }

  & .main__section__panel {
    //background:fade(@bg, 70%);

    &:before, &:after {
      color:@emphasize;
      border-color:@emphasize;
    }
  }

  strong {
    color:@emphasize;
  }

}

// injector
// endinjector
