.header {
  position:absolute;
  top:0;
  left:0;
  right:0;
  transform:translate(0, -100%);
  transform:translate(0, 0%);
  display:none;
  z-index:200;

  &__section {

    padding:0;
    text-align:center;
    font-size:1.5em;

    a, a:focus, a:hover {
      cursor:pointer;
      color:inherit;
      padding:20px;
      display:block;
      text-decoration: none;
    }

    &--introduction {
      background:@introduction-bg;
      color:@introduction-color;
      //border-bottom:3px solid lighten(@introduction-bg, 20%);
    }
    &--activity {
      background:@activity-bg;
      color:@activity-color;
      //border-bottom:3px solid lighten(@activity-bg, 20%);
    }
    &--projects {
      background:@projects-bg;
      color:@projects-color;
      //border-bottom:3px solid lighten(@projects-bg, 20%);
    }
  }
}
