.header.container-fluid
  .row
    .col-xs-4.header__section.header__section--introduction
      a Pierre Romera
    .col-xs-4.header__section.header__section--activiy
      a Activity
    .col-xs-4.header__section.header__section--projects
      a Projects
