.header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:200;

  height: @header-height;
  line-height: @header-height;
  .transition(0.4s);

  &.headroom--pinned {
    .translate(0, 0%);
  }

  &.headroom--unpinned {
    .translate(0, -100%);
  }


  &__section {

    float:left;
    width:100/3%;
    display: block;
    padding:0;
    text-align:center;
    font-size:1.2em;
    .transition(0.4s);

    &.active {
      font-weight: bold;
    }

    a, a:focus, a:hover {
      cursor:pointer;
      color:inherit;
      display:block;
      outline: 0;
      text-decoration: none;
      font-family:@font-family-serif;
    }

    &--introduction {
      background:@introduction-bg;
      color:@introduction-emphasize;
      //border-bottom:3px solid lighten(@introduction-bg, 20%);
    }
    &--activity {
      background:@activity-bg;
      color:@activity-emphasize;
      //border-bottom:3px solid lighten(@activity-bg, 20%);
    }
    &--projects {
      background:@projects-bg;
      color:@projects-emphasize;
      //border-bottom:3px solid lighten(@projects-bg, 20%);
    }
  }
}
