.header(headroom)
  .header__section.header__section--introduction(du-scrollspy="introduction")
    a(href="#introduction", du-smooth-scroll) Introduction
  .header__section.header__section--activity(du-scrollspy="activity")
    a(href="#activity", du-smooth-scroll) Activity
  .header__section.header__section--projects(du-scrollspy="projects")
    a(href="#projects", du-smooth-scroll) Projects
