section.main__section.main__activity(screen-height="400", ng-controller="ActivityCtrl")
  .container-fluid 
    .row
      .col-md-6
        .main__section__panel.main__section__panel--reverse(aria-section="Activity")
          h2 I've been busy<br ><strong>and got short nights</strong>
          p I currently share my time between coding, investigating and teaching. Most of my projects are available on Github under open source licences.          
      .col-md-6
        .main__activity__calendar
          h3 Code frequency
          em Summary of <abbr title="A commit is the submitting of the latest changes in a source code.">commits</abbr> frequency the last 2 years
          activity.main__activity__calendar__view
