.main__activity {
  position: relative;
  overflow: auto;

  &__figures, .main__section__panel {
    position: relative;
    z-index: 100;
  }

  &__figures {

    min-height: 61px;
    margin-bottom: 300px;
    background: white;

    strong {
      color:darken(@activity-bg, 10);
    }

    &__item  {
      background:@activity-emphasize;
      color:@activity-bg;
      display: inline-block;
      width:100%/3%;
      float: left;
      padding:10px 20px 10px 50px;
      position: relative;


      @media (max-width: @screen-xs-max) {
        width:100%;
      }

      &__icon {
        position:absolute;
        left:5px;
        top:50%;
        .translate(0, -50%);
      }
    }
  }

  &__chart {
    z-index: 0;
    position: absolute;
    bottom:0;
    left:50%;
    .translate(-50%, 0);

    height: 200px;

    &__commits {
      font-family: @font-family-base;

      g.year rect {
        fill: fade(@projects-bg, 0);
      }

      g.year:nth-child(even) rect {
        fill: fade(@projects-bg, 10);
      }

      g.year text {
        fill: fade(@projects-bg, 20);
      }

      text.bar-label {
        fill:@activity-bg;
        font-family: @font-family-base;
        font-size: 10px;
      }

      rect.bar {
        fill: @projects-bg;
      }

      g.year-bg rect {
        fill: fade(@projects-bg, 0);
      }

      g.year-bg:nth-child(even) rect {
        fill: fade(@projects-bg, 10);
      }
    }
  }

}
