.main__activity {
  position: relative;
  overflow: auto;

  &__figures {
    text-shadow:0 2px 2px @activity-bg;

    &__item  {
      padding:15px 15px 15px 85px;
      position: relative;

      &__icon {
        position:absolute;
        left:20px;
        top:50%;
        .translate(0, -50%);
      }
    }
  }

  &__chart {
    z-index: 100;
    position: absolute;
    bottom:0;
    left:50%;
    height: 350px;
    .translate(-50%, 0);
    .container-base();

    &__commits {

      text {
        fill:@activity-color;
        font-family: @font-family-base;
        font-size: 12px;
      }

      rect {
        fill: @activity-color;
      }
    }
  }

}
