section#introduction.main__section.main__introduction(screen-height="400")
  .main__section__panel(aria-section="Introduction")
    h2 Hi, I'm <strong>Pierre Romera</strong><br />developer &amp; data-journalist
    p I'm CTO at <a href="http://jplusplus.org">Journalism++</a>, an agency that I co-founded after having been responsible of the web applications at <a href="http://owni.fr">OWNI</a>.
    p I'm also a professor at Sciences Po, where I teach computer science to journalists. I otherwise do many trainings for professional journalists, covering data-journalism, computer security and programming.
