section#introduction.main__section.main__introduction(screen-height="400")
  .main__section__panel(aria-section="Introduction")
    h2 Hi, I’m <strong>Pierre Romera</strong><br />developer &amp; data-journalist
    p I’m CTO at <a href="http://jplusplus.org">Journalism++</a>, an agency that I co-founded after having been responsible of the web applications at <a href="http://owni.fr">OWNI</a>.
    p I’m also a Associate Professor at Sciences Po, where I teach computer science to journalists. I otherwise do many trainings for professional journalists, covering data-journalism, computer security and programming.

  .main__introduction__social.list
    a.main__introduction__social__item(href="https://twitter.com/pirhoo", target="_blank")
      i.fa.fa-fw.fa-twitter.main__introduction__social__item__icon
      | Find me<br />on Twitter
    a.main__introduction__social__item(href="https://github.com/pirhoo", target="_blank")
      i.fa.fa-fw.fa-github.main__introduction__social__item__icon
      | Find me<br />on Github
    a.main__introduction__social__item(href="https://keybase.io/pirhoo", target="_blank")
      i.fa.fa-fw.fa-key.main__introduction__social__item__icon
      | Find me<br />on Keybase
    a.main__introduction__social__item(href="mailto:hello@pirhoo.com", target="_blank")
      i.fa.fa-fw.fa-envelope-o.main__introduction__social__item__icon
      | Send me<br />an email

